
.mathrobatics {
        
    --airplane-00: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100px' height='100px' preserveAspectRatio='none' %3E%3Cpath fill-rule='nonzero' d='M45 50 V5 A 5 5 0 0 1 55 5V50L53 90H47ZM0 68v-10l50 -15l50 15v10l-50 -4zM33 100 v-8l17 -10l17 10v8l-17 -5z'/%3E%3C/svg%3E");
    
    --rocket-00: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100px' height='100px' preserveAspectRatio='none' %3E%3Cpath fill-rule='evenodd' d='M50 0 A50 80 20 0 1 50 87 A50 80 -20 0 1 50 0Z M50 20 a6 6 0 0 1 0 12 a6 6 0 0 1 0 -12Z '/%3E%3Cpath d=' M33 100 v-30l17 -15l17 15v30 a17 25 0 0 0 -17 -25 a17 25 0 0 0 -17 25z'/%3E%3C/svg%3E");
    
}

air-plane, rock-et {
    position: absolute;
    display: inline-block;
    height: 50px;
    width: 50px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    filter: url("#viva");
}

air-plane { background-image: var(--airplane-00); }
rock-et { background-image: var(--rocket-00); }